@model Automarket.Domain.Entity.Car

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card mb-3">
<div class="row g-0">
<div class="col-md-4">
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Avatar ?? Array.Empty<byte>())"
         class="img-fluid rounded-start rounded" alt="@Model?.Name">
</div>
</div></div>